Makefile
config.log
config.settings
config.status
extras/c-ares-1.9.1/
extras/c-ares.tar
extras/c-ares.tar.gz.bak
extras/c-ares/
extras/regexp/
extras/tre-0.8.0/
extras/tre.tar
extras/tre.tar.gz.bak
include/setup.h
ircdcron/ircd.cron
ircdcron/ircdchk
server.cert.pem
server.key.pem
server.req.pem
src/modules/Makefile
ssl.rnd
unreal
src/ircd
*.so
*.o
*.dSYM
src/include
src/version.c
unrealircd.conf
